---
---

@import "{{ site.theme }}";

.inner {
    max-width: 800px;
}

#forkme_banner {
    background: url('../images/blacktocat.png') #402986 no-repeat 95% 50%;
}

#main_content_wrap {
    border-top: 0px;
}

.navigation {
    background-color: #939598;
    color: white;
}


.navigation ul {
    list-style: none;
    float: left;
}

.navigation li {
    float: left;
    vertical-align: middle;
    text-align: center;
    text-transform: uppercase;
}

.navigation a:link {
    color: white;
}
  
.navigation a:visited {
    color: white;
}
  
.navigation a:hover {
    color: white;
}
  
.navigation a:active {
    color: white;
}