---
---

@import "{{ site.theme }}";

.navigation a {
    color: white;
}

.navigation a:link {
    color: white;
}
  
.navigation a:visited {
    color: white;
}
  
.navigation a:hover {
    color: white;
}
  
.navigation a:active {
    color: white;
}