---
---

@import "{{ site.theme }}";

.inner {
    max-width: 800px;
}

#forkme_banner {
    background: url('../images/blacktocat.png') #402986 no-repeat 95% 50%;
}

#main_content_wrap {
    border-top: 0px;
}

.navigation {
}

.navigation ul {
    background-color: #939598;
    color: white;
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: inline-block;
}

.navigation li {
    padding: 5px;
    height: 80px;
    text-transform: uppercase;
}

.navigation a:link {
    color: white;
}
  
.navigation a:visited {
    color: white;
}
  
.navigation a:hover {
    color: white;
}
  
.navigation a:active {
    color: white;
}